---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "./icons/React.astro"
import TypeScript from "./icons/TypeScript.astro"
import JavaScript from "./icons/JavaScript.astro"
import CascadeStyleSheets from "./icons/CascadeStyleSheets.astro"
import BootStrap from "./icons/BootStrap.astro"
import Php from "./icons/Php.astro"
import Vue from "./icons/Vue.astro"
import Vite from "./icons/Vite.astro"
import Mongo from "./icons/Mongo.astro"
import Mysql from "./icons/Mysql.astro"
import Laravel from "./icons/Laravel.astro"
import NodeJS from "./icons/NodeJS.astro"

const TAGS = {
  // Frontend
  REACT: {
    name: "ReactJS",
    class: "bg-[#61DBFB] text-white",
    icon: React,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  VUE: {
    name: "Vue",
    class: "bg-[#42B883] text-white",
    icon: Vue,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#38BDF8] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178C6] text-white",
    icon: TypeScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: CascadeStyleSheets,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#646CFF] text-white",
    icon: Vite,
  },

  // Backend
  PHP: {
    name: "PHP",
    class: "bg-[#8993BE] text-white",
    icon: Php,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#FF2D20] text-white",
    icon: Laravel,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758F] text-white",
    icon: Mysql,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#47A248] text-white",
    icon: Mongo,
  },
  BOOTSTRAP: {
    name: "BootStrap",
    class: "bg-[#563D7C] text-white",
    icon: BootStrap,
  },
  NODE: {
    name: "NodeJS",
    class: "bg-[#7ab068] text-white",
    icon: NodeJS,
  },
}

const PROJECTS = [
  {
    title: "SCGACURP",
    description: "Sistema de Control, Gestión y Administración de Conferencias para la Universidad Ricardo Palma. Permite una fácil programación y gestión de conferencias para las diversas entidades involucradas de la universidad.",
    link: "",
    github: "https://github.com/yvncv/frontURP",
    image: "/projects/proyecto-conferencias.png",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.BOOTSTRAP, TAGS.NODE],
  },
  {
    title: "SWGAOTC",
    description: "Sistema Web para Mejorar la Gestión Administrativa y Operativa de la Tienda de Tejidos con Crochet, ElsaVal. El cliente elige los productos que desea adquirir, mientras que por el lado de negocio, optimiza la gestión de inventario, clientes, proveedores, etc.",
    link: "",
    github: "https://github.com/yvncv/ElsaVal-Front",
    image: "/projects/proyecto-elsaval.png",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP, TAGS.CSS, TAGS.PHP, TAGS.LARAVEL, TAGS.MONGODB, TAGS.NODE],
  },
  {
    title: "SWOJHS",
    description: "Sistema Web para la Mejora de la Gestión Operativa en la Empresa JHS Medical. Este sistema optimiza la gestión organizacional y facilita el flujo de la empresa para ventas, gestión de inventario y solicitud de materiales a proveedores para la fabricación de camillas médicas.",
    link: "",
    github: "https://github.com/yvncv/swjhs-frontend",
    image: "/projects/proyecto-jhs.png",
    tags: [TAGS.VUE,TAGS.VITE, TAGS.TYPESCRIPT, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.PHP, TAGS.MYSQL, TAGS.NODE],
  },
  {
    title: "Estantería Virtual de la BVI",
    description: "Sistema web de estantería virtual para los libros presentes en el sumillado de los cursos de todas las carreras de ingeniería en la URP. El alumno puede acceder a la información de los libros que necesite según lo exijan los cursos de su carrera.",
    link: "",
    github: "https://github.com/yvncv/BVI-ESTANTERIA",
    image: "/projects/proyecto-bvi.png",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.BOOTSTRAP, TAGS.MONGODB, TAGS.NODE],
  },
  {
    title: "SoftArchProject",
    description: "Proyecto del curso de Arquitectura de Software, consiste en ofrecer al alumno visualizar sus participaciones, asistencias, calificaciones en las sesiones de clases en los cursos de su carrera y ciclo. A su vez, el administrador del sistema puede gestionar usuarios y cursos, creando cursos, asignando días de semana y horas a estos, registrando alumnos y profesores a los respectivos. Los profesores pueden evaluar a sus alumnos según corresponda por cada sesión.",
    link: "",
    github: "https://github.com/yvncv/ArquiSoftProject",
    image: "/projects/proyecto-arqui.png",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.BOOTSTRAP, TAGS.MONGODB, TAGS.NODE],
  },
]

---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Imagen de proyecto." class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
          </div>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </Link>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
